{% extends 'base.html' %}

{% block content %}
<head>
   <title>{{ title }}</title>
   {% load static %}
   <link rel = "stylesheet" type = "text/css" href = "{% static 'home.css' %}">
   <script> 
      var page = '{{ page }}';
   </script>
</head>

<!-- main content-->
{% include 'alert.html' %}
<h4>Recent Forms</h4>
<div id="period_selector">
   <form method="POST">
      {% csrf_token %}
      
      <label class="date_label" id="start_date_label"> Start Date</label>
      <input class="dates" type="date" name="start_date_input" id="start_date_input" value = "{{start_date}}" required >
      
      <label class="date_label" for="end_date_input" id="end_date_label"> End Date</label>
      <input class="dates" type="date" name="end_date_input" id="end_date_input" value = "{{end_date}}" required>

      <div class="center-align">
         <input type="submit" value="Search">
      </div>
   </form>
</div>
<div class="center-align" id="recent-forms">
   
   <table>
      <!-- table headers-->
      <tr id="header">
         <th>Date</th>
         <th>Time Frame</th>
         <th>Submitted By</th>
      </tr>
      <!-- table cells-->
{% for form in allForms %}
      <tr>
         <td>{{ form.date }}</td>
         <td><a href = "{{form.get_absolute_url}}">{{ form.time_frame }}</a></td>
         <td>{{ form.submitted_employee }}</td>
      </tr>
{% endfor %}
      
   </table>
</div>
<!-- end main content-->
{% endblock %}
